.navigation__info
    +svg('dots')
    .navigation__info-title Меню
.navigation__list
    .navigation__item.navigation__item--1
        a(href="#" class="navigation__link")
            span.navigation__link-icon
                +svg('pay')
            span.navigation__link-name Мои платежи
    .navigation__item.navigation__item--2
        a(href="#" class="navigation__link")
            span.navigation__link-icon
                +svg('home')
            span.navigation__link-name Моя недвижимость
    .navigation__item.navigation__item--3
        a(href="#" class="navigation__link")
            span.navigation__link-icon
                +svg('services')
            span.navigation__link-name Услуги
    .navigation__item.navigation__item--4
        a(href="#" class="navigation__link")
            span.navigation__link-icon
                +svg('ready')
            span.navigation__link-name Сдача комплекса
    .navigation__item.navigation__item--5
        a(href="#" class="navigation__link")
            span.navigation__link-icon
                +svg('pay')
            span.navigation__link-name Мои платежи
    .navigation__item.navigation__item--6
        a(href="#" class="navigation__link")
            span.navigation__link-icon
                +svg('doc')
            span.navigation__link-name Документация
    .navigation__item.navigation__item--7
        a(href="#" class="navigation__link")
            span.navigation__link-icon
                +svg('user')
            span.navigation__link-name Личные данные