$default-font: 'Montserrat', sans-serif;

$violetGradient: linear-gradient(87.17deg, #9242AE 0%, #1976E3 100%);
$blue: #417BBF;
$primary: #0084F8;
$text: #4C2E52;
$darkViolet: #635274;
$lightGreen: #BBCE6D;
$pink: #F395AA;
$grey: #E0E0E0;
$orange: #FFC558;
$blue2: #353F58;
$pinkGradient: linear-gradient(269.42deg, #DFE1ED -1.17%, #F5E7F8 100%); 

